<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>SVG Symbol Ref Generator with Preview</title>
    <link rel="stylesheet" type="text/css" href="./styles/icons.css">
    <link rel="stylesheet" type="text/css" href="./styles/base.css">
    <link rel="stylesheet" type="text/css" href="./styles/new-svg.css">
    <script src="icons/ux-icons-holder.js"></script>
    <script src="pages/svg-code-generator.js"></script>
</head>
<body>
    <div id="svg-container"></div>
    <div id="svg-code-generator"></div>
<div class="icons-list-parent-wrapper flex">

    <div class="helpdoc-propeties-sec flexcolumn p20 pT15">
        <div class="m0 icon-title mB10">Icons</div>
        <div class="flexcolumnchild">
            <ul id="iconsCategory" class="helpdoc-icon-list flexDirColumn">
                <!-- <% iconsCategory.forEach(function(icon) {%>
                    <li class="left-sec-btn-categ {{if(selectedCategory === icon.api_name, 'categ-active')}}"
                        onclick="{{action ('changeIconCategory', icon)}}">
                        <span class="helpdoc-icon-name">{{icon.name}}</span>
                    </li>
                    <% }) %> -->
            </ul>
        </div>
    </div>
    <div class="icon-list-wrapper p20 pT15">
        <div class="helpdoc-icon-category">
            <!-- <% iconsCategory.forEach(function(icon) {%> 
                <div class="mB50">
                    <div id="{{icon.api_name}}" class="helpdoc-icon-name pB12 headM">{{icon.name}}</div>
                    <div class="flex">
                        <% icon.icons.forEach(function(list) {%>. -->
                            <div class="helpdoc-icon-item cP {{if(selectedIcon && selectedIcon.iconName === list.iconName, 'active')}}">
                                 <svg class="svg-icons {{iconClass}}">
                                    <use href="#ZB_Empty_Feeds"></use>
                                </svg>
                                
                                
                            </div>
                            <div class="helpdoc-icon-item cP {{if(selectedIcon && selectedIcon.iconName === list.iconName, 'active')}}">
                                 <svg class="svg-icons {{iconClass}}">
                                    <use href="#ZB_Empty_Records"></use>
                                </svg>
                            </div>
                            <!-- <ux-icons icon-name="{{list.iconName}}"
                                icon-class="{{if(list.iconClass, list.iconClass, 'zb30')}}"></ux-icons> -->
                            <!--<% }) %>
                    </div>
                </div>
                 <% }) %> -->
        </div>
    </div>
    <div class="icon-detail-wrapper  p20 pT15 flexDirColumn" lyte-if="{{selectedIcon}}">
        <ux-icons icon-name="ZB_Close" icon-class="zb10 pA r20 cP t20"
            onclick="{{action('closeIconPreview')}}"></ux-icons>
        <div class="pB40 headM">Data</div>
        <div class="helpdoc-icon-item preview mB40">
            <ux-icons icon-name="{{selectedIcon.iconName}}" icon-class="{{if(selectedIcon.iconClass, selectedIcon.iconClass, 'zb60')}}"></ux-icons>
        </div>
        <div class="helpdoc-icon-name mB40">
            <span class="headS pB20 mR5">Icon Name:</span>    
            {{selectedIcon.iconName}}
        </div>
        <pre class="code-snippet">
            <div class="flex-center-v mB8">  
                <span class="taskbar"> 
                    <span class="barOne bar"></span>
                    <span class="barTwo bar"></span>
                    <span class="barThree bar"></span>
                </span> 
                <span class="mLauto mR5 icon-hover-dark-parent cP" lt-prop-title="Copy" onclick="{{action('copySampleDataCode')}}">  
                    <ux-icons icon-name="ZB_Copy" icon-class="zb16 hd-copy-codesnip-icon icon-hover-dark"></ux-icons>
                    <!-- <i class="bigin-sprite icon-copy-sm icon-copy-sm-mask hd-copy-codesnip-icon icon-hover-dark"></i> -->
                </span>
            </div>
            <code id="dataSecCodeSnippet">
                <span class="token punctuation">&lt;</span>
                <span class="token tag">ux-icons</span> 
                <span class="token attrname">icon-name =</span>
                <span class="token punctuation">"</span>
                <span class="token attrvalue">{{selectedIcon.iconName}}</span>
                <span class="token punctuation">"</span>
                <span class="token punctuation">&lt;/</span>
                <span class="token tag">ux-icons</span>
                <span class="token punctuation">&gt;</span>
            </code>
        </pre>
    </div>
</div>


<script>
    document.getElementById('svg-container').innerHTML = uxIconsHTML;
</script>
</body>
</html>