
        .page-title {
            font-size: 20px;
            font-weight: 600;
        }

        .drop-area {
            border: 2px dashed #dce3ea;
            background-color: #f9fbfc;
            padding: 2rem;
            text-align: center;
            color: #666;
            margin-bottom: 4rem;
            border-radius: 6px;
            cursor: pointer;
        }

        textarea {
            width: 100%;
            height: 220px;
            font-family: monospace;
            margin-top: 1rem;
            white-space: pre;
        }

        .preview {
            margin-top: 4rem;
        }

        .preview svg {
            width: 100px;
            height: 100px;
        }

        .svg-ouput {
            border: 1px solid #bdc8d3;
            border-radius: 6px;
            padding: 13px;
            width: 98%;
        }

        .copy-to-clipboard {
            background: #eff2f5;
            padding: 5px 10px;
            border-radius: 6px;
            font-size: 14px;
            cursor: pointer;
        }